<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" media="all" th:href="${#themes.code('theme_css')}"/>
        <title>Hello!</title>
    </head>
    <body>
        <div layout:fragment="content">
            <p>The actual content will come from individual views making use of this layout</p>
        </div>
        <div th:include="layout/footer :: copy"></div>
    </body>
    <script type="text/javascript" th:src="${#themes.code('theme_js')}"></script>
</html>