<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Page title</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.vertical-tabs.css"/>
    <link rel="stylesheet" href="/packages/perfect-scrollbar/perfect-scrollbar.css"/>
    <link rel="stylesheet" href="/packages/touchspin/jquery.bootstrap-touchspin.css"/>

    <!--/* from product */-->
    <link rel="stylesheet" href="/packages/ion.rangeslider/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="/packages/ion.rangeslider/css/ion.rangeSlider.skinFlat.css" />
    <link rel="stylesheet" href="/packages/iCheck/skins/flat/flat.css" />
    <link rel="stylesheet" href="/packages/multirowselect/multirowselect.css" />
    <!--/* end from product */-->

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" th:href="${#themes.code('theme_css')}"/>
</head>

<body id="page-front" class="page-front">

<div th:include="segment/menu/menus :: menus"></div>

<div layout:fragment="content"></div>

<div th:replace="segment/footer :: footer"></div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/packages/jssor/js/jssor.js"></script>
<script type="text/javascript" src="/packages/jssor/js/jssor.slider.js"></script>
<script type="text/javascript" src="/packages/perfect-scrollbar/perfect-scrollbar.js"></script>
<script type="text/javascript" src="/packages/iCheck/icheck.js"></script>
<script type="text/javascript" src="/packages/multirowselect/multirowselect.js"></script>
<script type="text/javascript" src="/packages/ion.rangeslider/js/ion.rangeSlider.js"></script>
<script type="text/javascript" src="/packages/elevatezoom/jquery.elevatezoom.js"></script>
<script type="text/javascript" src="/packages/touchspin/jquery.bootstrap-touchspin.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
<script type="text/javascript" th:src="${#themes.code('theme_js')}"></script>
<script layout:fragment="script"></script>

</body>
</html>