<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Menu</title>
</head>
<body>
<div th:fragment="main-menu" class="navbar navbar-sellstrap visible-md-block visible-lg-block visible-sm-block" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" th:text="${#themes.code('brand.name')}">Broomwagon</a>
        </div>
        <div class="navbar-full">
            <ul class="nav navbar-nav">
                <li th:replace="segment/menu/main-menu-products:: body(${mainMenu}, ${mainMenuConfig})"></li>
                <li th:replace="segment/menu/main-menu-groups:: body(${mainMenu}, ${mainMenuConfig})"></li>
                <li th:replace="segment/menu/main-menu-simple:: body(${mainMenu}, ${mainMenuConfig})"></li>
                <li class="search-box">
                    <div>
                        <form method="get" action="/search" id="search">
                            <input id="searchTxt" name="q" type="text" size="400" placeholder="SEARCH" class="form-control"/>
                        </form>
                    </div>
                </li>
            </ul>
            <!--/* end nav menu */-->

            <!--/* start user menu */-->
            <ul class="nav navbar-nav navbar-right">
                <!--/* start menu item */-->
                <li class="dropdown">
                    <a href="/dev/profile.html" class="dropdown-toggle">My Account</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/dev/cart.html">My cart</a>
                        </li>
                        <li><a href="/checkout">Checkout</a>
                        </li>
                        <li><a href="/login">Login</a>
                        </li>
                        <li><a href="/dev/signup.html">Signup</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/dev/profile.html">User profile</a>
                        </li>
                        <li><a href="/dev/history.html">Order history</a>
                        </li>
                        <li><a href="/dev/wishlist.html">Wishlist</a>
                        </li>
                    </ul>
                </li>
                <!--/* end menu item */-->

                <!--/* start menu item */-->
                <li class="dropdown menu-cart">
                    <a href="/dev/cart.html" class="dropdown-toggle">
                        <span class="fa fa-shopping-cart"></span>&nbsp; $281</a>

                    <ul class="dropdown-menu megamenu row" style="width: 300px; padding: 0;">
                        <!--/* cart */-->
                        <li>
                            <div class="mycart-container">
                                <ul class="my-cart">
                                    <!--/* start cart item */-->
                                    <li class="item " id="item-1">
                                        <div class="pull-right">
                                            <button type="button" class="btn btn-danger btn-xs cart-delete-item"><i
                                                    class="fa fa-times-circle"></i>
                                            </button>
                                        </div>
                                        <div class="pull-right cart-product-price">
                                            <span class="item-price pull-right">$120</span>
                                        </div>
                                        <div class="pull-left">
                                            <img src="/assets/images/145x180.png" alt="Elegant grey dress"/>1
                                            <span class="sign-quantity">x</span>
                                        </div>
                                        <div class="cart-product-link">
                                            <a href="/products/url1">Elegant grey dress</a>
                                        </div>
                                    </li>
                                    <!--/* end cart item */-->

                                    <!--/* start cart item */-->
                                    <li class="item" id="item-2">
                                        <div class="pull-right">
                                            <button type="button" class="btn btn-danger btn-xs cart-delete-item"><i
                                                    class="fa fa-times-circle"></i>
                                            </button>
                                        </div>
                                        <div class="pull-right cart-product-price">
                                            <span class="item-price pull-right">$20</span>
                                        </div>
                                        <div class="pull-left">
                                            <img src="/assets/images/145x180.png" alt="White-grey blouse"/>1
                                            <span class="sign-quantity">x</span>
                                        </div>
                                        <div class="cart-product-link"><a href="/products/url1">White-grey blouse</a>
                                        </div>
                                    </li>
                                    <!--/* end cart item */-->

                                    <!--/* start cart item */-->
                                    <li class="item" id="item-3">
                                        <div class="pull-right">
                                            <button type="button" class="btn btn-danger btn-xs cart-delete-item"><i
                                                    class="fa fa-times-circle"></i>
                                            </button>
                                        </div>
                                        <div class="pull-right cart-product-price">
                                            <span class="item-price pull-right">$35</span>
                                        </div>
                                        <div class="pull-left">
                                            <img src="/assets/images/145x180.png" alt="Deedee Skater Long Sleeve Dress"/>1
                                            <span class="sign-quantity">x</span>
                                        </div>
                                        <div class="cart-product-link"><a href="#">Long Sleeve Dress</a>
                                        </div>
                                    </li>
                                    <!--/* end cart item */-->

                                    <!--/* start cart item */-->
                                    <li class="item" id="item-4">
                                        <div class="pull-right">
                                            <button type="button" class="btn btn-danger btn-xs cart-delete-item"><i
                                                    class="fa fa-times-circle"></i>
                                            </button>
                                        </div>
                                        <div class="pull-right cart-product-price">
                                            <span class="item-price pull-right">$45</span>
                                        </div>
                                        <div class="pull-left">
                                            <img src="/assets/images/145x180.png" alt="Black Tee"/>1
                                            <span class="sign-quantity">x</span>
                                        </div>
                                        <div class="cart-product-link"><a href="/products/url1">Black Tee</a>
                                        </div>
                                    </li>
                                    <!--/* end cart item */-->

                                    <!--/* start cart item */-->
                                    <li class="item" id="item-5">
                                        <div class="pull-right">
                                            <button type="button" class="btn btn-danger btn-xs cart-delete-item"><i
                                                    class="fa fa-times-circle"></i>
                                            </button>
                                        </div>
                                        <div class="pull-right cart-product-price">
                                            <span class="item-price pull-right">$19</span>
                                        </div>
                                        <div class="pull-left">
                                            <img src="/assets/images/145x180.png" alt="Blue Jacket"/>1
                                            <span class="sign-quantity">x</span>
                                        </div>
                                        <div class="cart-product-link"><a href="/products/url1">Blue Jacket</a>
                                        </div>
                                    </li>
                                    <!--/* end cart item */-->

                                    <!--/* start cart item */-->
                                    <li class="item">
                                        <div class="pull-right">
                                            <button type="button" class="btn btn-danger btn-xs cart-delete-item"><i
                                                    class="fa fa-times-circle"></i>
                                            </button>
                                        </div>
                                        <div class="pull-right cart-product-price">
                                            <span class="item-price pull-right">$42</span>
                                        </div>
                                        <div class="pull-left">
                                            <img src="/assets/images/145x180.png" alt="White Jacket"/>1
                                            <span class="sign-quantity">x</span>
                                        </div>
                                        <div class="cart-product-link"><a href="/products/url1">White Jacket</a>
                                        </div>
                                    </li>
                                    <!--/* end cart item */-->
                                </ul>
                            </div>
                            <a href="/checkout" class="checkout">
                                <div class="pull-right ">Total:
                                    <span class="label label-checkout">$281</span>
                                </div>
                                <i class="fa fa-sign-out"></i> Checkout</a>
                        </li>
                        <!--/* end cart */-->
                    </ul>
                </li>
                <!--/* end menu item */-->
            </ul>
            <!--/* end user menu */-->
        </div>
        <!--/* nav-collapse */-->
    </div>
    <!--/* container-fluid */-->
</div>
</body>
</html>