<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Slide menu</title>
</head>
<body>
<div th:fragment="slide-menu" class="navmenu navmenu-inverse navmenu-fixed-left offcanvas">
    <div class="brand-offcanvas">
        <a href="/" th:text="${#themes.code('brand.name')}">Broomwagon</a>
    </div>

    <ul class="nav navmenu-nav">
        <th:block th:each="menu : ${menus}">
            <th:block th:if="${menu.config.menuAttributes['group']} == 'main'">
                <li th:replace="segment/menu/slide-menu-simple :: body(${menu.menu}, ${menu.config})"></li>
            </th:block>
        </th:block>

        <th:block th:each="menu : ${menus}">
            <th:block th:if="${menu.config.menuAttributes['group']} == 'my-account'">
                <li th:replace="segment/menu/slide-menu-simple :: body(${menu.menu}, ${menu.config})"></li>
            </th:block>
        </th:block>

        <li class="nav-cart">
            <a href="/dev/cart.html">
                <span class="fa fa-shopping-cart fa-3x"></span>
                <br/>6 item(s)
            </a>
        </li>
    </ul>
</div>
</body>
</html>