@import url(http://fonts.googleapis.com/css?family=Gafata|Lato:300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(http://fonts.googleapis.com/css?family=Cantarell:400,700);
@import "compass";

$light-grey:#f2f2f2;
$grey: #DDD;
$dark-grey: #999;

$main-background-color: white;
$main-text-color: #121212;
$highlight-color: #f27490;

$brand: white;
$top-nav: #383838;
$top-nav-text: white;

@mixin transform-rotate($rotation) {
    -ms-transform: rotate($rotation);
    -o-transform: rotate($rotation);
    -webkit-transform: rotate($rotation);
    transform: rotate($rotation);
}

body {
    font-family: Lato, sans-serif;
    > .container {
        min-height: 680px;
    }
}

@media (max-width: 765px) {
    body {
        padding-top: 70px;
    }
}

a {
    color: $main-text-color;
    text-decoration: none;
    &:hover {
        color: lighten($main-text-color, 10%);
    }
}

.form-control {
    border-radius: 0;
    box-shadow: none;
    &:focus {
        border-color: $dark-grey;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(0, 0, 0, 0.1);
    }
}

.breadcrumb {
    background: $main-background-color;
    border-radius: 0;
    padding-left: 0;
}

.corner {
    border-color: rgba(255, 255, 255, 0) darken($highlight-color, 10%) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 0 70px 40px 0;
    position: absolute;
    right: 15px;
    height: 0;
    width: 0;
    @include transform-rotate(360deg);
}

.corner-primary {
    border-color: rgba(255, 255, 255, 0) $highlight-color rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.corner-black {
    border-color: rgba(255, 255, 255, 0) black rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.corner-text {
    color: $main-background-color;
    font-size: 10px;
    font-weight: bold;
    position: relative;
    right: -30px;
    top: 8px;
    width: 40px;
    text-align: center;
    white-space: nowrap;
    @include transform-rotate(30deg);
}

.row-margin {
    margin-bottom: 50px;
}

.text-center {
    text-align: center;
}

.pagination {
    margin-top: 0;
    > {
        li > {
            a, span {
                color: $main-text-color;
            }
        }
        .active > {
            a, span, a:hover, span:hover, a:focus, span:focus {
                background-color: $main-background-color;
                border-color: $grey;
                color: $main-text-color;
                cursor: default;
                z-index: 2;
            }
        }
    }
}

.page-title {
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid $grey;
    padding-bottom: 10px;
}

.table > tbody > tr > th {
    border-top: 0;
}

.panel-sidebar .nav > li.active > a {
    background: #f5f5f5;
}

.brand-offcanvas {
    padding: 15px;
    font-family: "Roboto Slab", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: $brand;
    border-bottom: 1px solid darken($top-nav, 10%);
    a {
        color: $brand;
        text-decoration: none;
    }
}

.navbar-inverse {
    background-color: $top-nav;
    border-color: darken($top-nav, 10%);
}

.navmenu-inverse, .navbar-inverse .navbar-offcanvas {
    background-color: $top-nav;
    border-color: darken($top-nav, 10%);
}

.navmenu-inverse {
    .nav .open > a {
        border-bottom: 1px solid darken($top-nav, 10%);
        background: $top-nav;
        font-weight: bold;
        &:hover, &:focus {
            border-bottom: 1px solid darken($top-nav, 10%);
            background:$top-nav;
            font-weight: bold;
        }
    }
    .navmenu-nav > li > a {
        color: $top-nav-text;
        border-bottom: 1px solid darken($top-nav, 10%);
        font-weight: bold;
    }
}

.navbar-inverse .navbar-offcanvas .navmenu-nav > li > a {
    color: $top-nav-text;
    border-bottom: 1px solid darken($top-nav, 10%);
    font-weight: bold;
}

.navmenu-inverse .navmenu-nav > li > a .fa, .navbar-inverse .navbar-offcanvas .navmenu-nav > li > a .fa {
    width: 25px;
    text-align: center;
}

.navmenu-inverse .navmenu-nav > li.nav-cart > a .fa, .navbar-inverse .navbar-offcanvas .navmenu-nav > li.nav-cart > a .fa {
    width: 60px;
}

.navmenu-nav.dropdown-menu {
    padding: 10px;
}

.navmenu-inverse .navmenu-nav.dropdown-menu, .navbar-inverse .navbar-offcanvas .navmenu-nav.dropdown-menu {
    background-color: lighten($top-nav, 10%);
}

.nav-cart {
    text-align: center;
}

.navmenu-inverse .navmenu-nav > .dropdown > a .caret, .navbar-inverse .navbar-offcanvas .navmenu-nav > .dropdown > a .caret {
    border-bottom-color: $dark-grey;
    border-top-color: $dark-grey;
    margin-top: 10px;
}

.navmenu-inverse .dropdown-menu > li > a {
    clear: both;
    background: $top-nav;
    color: $main-background-color;
    display: block;
    font-weight: 400;
    line-height: 1.8;
    padding: 3px 20px;
    white-space: nowrap;
    border-bottom: 1px solid darken($top-nav, 10%);
}

.navmenu, .navbar-offcanvas {
    width: 200px;
}

.navbar-inverse .navbar-toggle {
    margin-right: 5px;
    border-color: darken($top-nav, 10%);
}

.container-search {
    margin-left: 80px;
    padding-right: 20px;
}

.search-mobile {
    margin-top: 7px;
    input[type=text] {
        background: $top-nav;
        border-color: darken($top-nav, 10%);
        border-radius: 0;
        &:focus {
            background: $main-background-color;
        }
    }
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: "Roboto Slab", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: $brand;
    &:hover {
        color: darken($brand, 5%);
    }
}

.navbar-sellstrap {
    background: $top-nav;
    .navbar-nav > li > a {
        font-family: "Gafata", sans-serif;
        font-size: 15px;
        text-transform: uppercase;
        color: $top-nav-text;
        &:hover {
            background: lighten($top-nav, 10%);
            padding-bottom: 12px;
            border-bottom: 3px solid darken($top-nav, 10%);
        }
    }
}

.nav .open > a {
    background-color: $main-text-color;
    padding-bottom: 12px;
    border-bottom: 3px solid #999;
    &:hover, &:focus {
        background-color: $main-text-color;
        padding-bottom: 12px;
        border-bottom: 3px solid #999;
    }
}

@media (min-width: 768px) {
    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }
}

@media (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

.promo {
    text-align: center;
    margin-top: 80px;
    .well-sm {
        background: $main-background-color;
        color: $main-text-color;
        border: 1px solid $grey;
        border-top: 3px solid $grey;
        border-radius: 0;
        padding: 0;
    }
    .round-header {
        background: $main-background-color;
        width: 70px;
        height: 70px;
        line-height: 80px;
        position: absolute;
        top: -35px;
        left: 42%;
        border-radius: 4px;
        border: 3px solid $grey;
        color: darken($grey, 10%);
    }
    h4 {
        font-weight: bold;
        color: $highlight-color;
        padding-top: 40px;
        margin-top: 0;
    }
    a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px;
        &:hover {
            text-decoration: none;
        }
    }
    &:hover {
        .round-header {
            color: $main-text-color;
            border-color: $dark-grey;
        }
        .well-sm {
            background: #f5f5f5;
            border-top: 3px solid $dark-grey;
        }
    }
}

.dropdown-menu {
    background-color: $main-background-color;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: none outside none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;
    > {
        li > a {
            clear: both;
            color: $main-text-color;
            display: block;
            font-weight: 400;
            line-height: 1.42857;
            padding: 3px 20px;
            white-space: nowrap;
            &:hover, &:focus {
                background: $light-grey;
                color: $main-text-color;
                text-decoration: none;
            }
        }
        .active > a {
            background-color: $highlight-color;
            color: $top-nav-text;
            outline: 0 none;
            text-decoration: none;
            &:hover, &:focus {
                background-color: $highlight-color;
                color: $top-nav-text;
                outline: 0 none;
                text-decoration: none;
            }
        }
        .disabled > a {
            color: $dark-grey;
            &:hover, &:focus {
                color: $dark-grey;
            }
            &:hover, &:focus {
                background: transparent none;
                cursor: not-allowed;
                text-decoration: none;
            }
        }
    }
}

.dropdown-header {
    font-size: 14px;
    font-weight: bold;
    color: $main-text-color;
    display: block;
    line-height: 1.42857;
    padding: 3px 3px 3px 19px;
    white-space: nowrap;
}

.btn {
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid $grey;
}

.btn-default {
    background: #f5f5f5;
}

.btn-primary {
    background: none repeat scroll 0 0 $highlight-color;
    border-bottom: 2px solid darken($highlight-color, 10%);
    border-radius: 0;
    color: #fff;
    &:hover {
        background: lighten($highlight-color,5%);
        color: #fff;
        border-bottom: 2px solid darken($highlight-color, 1%);
    }
}

/* front page styles */

.page-front .navbar {
    margin-bottom: 20px;
}

.panel-sidebar {
    .panel-heading {
        background: $grey;
        border: 0 none;
        font-size: 13px;
        font-weight: bold;
        border-bottom: 3px solid $light-grey;
    }
    .panel-body {
        padding: 0;
    }
}

.search-box {
    min-width: 70px;
    height: 50px;
    padding-left: 0;
    position: relative;
    padding-top: 8px;
    &:focus {
        border-bottom: 3px solid $light-grey;
    }
}

#searchTxt {
    background: transparent;
    border-color: transparent;
    border-radius: 0;
    font-size: 14px;
    width: 75px;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    cursor: pointer;
    &.form-control {
        font-family: "Gafata", sans-serif;
        padding-right: 0;
        font-size: 15px;
        &:focus {
            background: $top-nav-text;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
            cursor: inherit;
            padding: 6px 12px;
        }
        &::-moz-placeholder, &::-webkit-input-placeholder, &::-ms-input-placeholder {
            color: $top-nav-text;
            font-size: 15px;
            opacity: 1;
        }
        &:focus::-moz-placeholder {
            color: $dark-grey;
            opacity: 1;
        }
    }
}

/* footer */

.footer {
    background: #f2f2f2;
    border-top: 3px solid $grey;
    margin-top: 50px;
}

.panel-footer {
    background: transparent;
    box-shadow: none;
    padding: 10px 0 20px;
    border: 0;
    margin: 0;
    .panel-heading {
        font-size: 14px;
        font-weight: bold;
        border-bottom: 1px solid $grey;
        padding: 0;
        line-height: 25px;
        text-transform: uppercase;
    }
    > .panel-body {
        padding: 0;
        > ul {
            list-style: none outside none;
            padding: 0;
            margin: 0;
            > li {
                line-height: 25px;
                > a {
                    color: $main-text-color;
                }
            }
        }
    }
}

.social-links {
    margin-top: 10px;
}

.social-link {
    display: block;
    float: left;
    background: white;
    width: 40px;
    height: 40px;
    overflow: hidden;
    line-height: 46px;
    border: 1px solid $grey;
    text-align: center;
    margin-right: 5px;
    color: $dark-grey;
    &.social-facebook:hover, &.social-twitter:hover {}
}

/* end footer */

/* product item styling */

.product-item {
    border: 1px solid $grey;
    background: white;
    margin-bottom: 20px;
    overflow: hidden;
    .photo img {
        margin: 0 auto;
        width: 100%;
    }
    .info {
        padding-left: 10px;
        padding-right: 10px;
        overflow: hidden;
        line-height: 30px;
    }
    &:hover .info {
        background-color: #f2f2f2;
    }
    .product-name {
        margin: 0;
        line-height: 30px;
        border-top: 1px solid $grey;
        border-bottom: 1px dotted $dark-grey;
        a {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
            height: 60px;
            font-size: 15px;
            color: $main-text-color;
            font-weight: bold;
        }
    }
    &:hover .product-name a {
        background: white;
        color: $main-text-color;
    }
    .price {
        font-size: 14px;
        font-weight: bold;
        color: $main-text-color;
    }
    .stock {
        font-size: 13px;
        font-weight: bold;
        color: $highlight-color;
    }
    .stock-last {
        color: darken($highlight-color, 20%);
    }
}

.product-item {
    .info .rating {
        color: $dark-grey;
    }
    .rating {
        float: left;
        font-size: 17px;
        text-align: right;
        line-height: 52px;
        margin-bottom: 10px;
        height: 52px;
    }
}

.clear-left {
    clear: left;
}

.product-item {
    .separator p {
        line-height: 20px;
        margin-bottom: 0;
        margin-top: 10px;
        text-align: center;
        i {
            margin-right: 5px;
        }
    }
    .btn-add {
        width: 50%;
        float: left;
        border-right: 1px solid $grey;
    }
    .btn-details {
        width: 50%;
        float: left;
        padding-left: 10px;
    }
    &:hover .btn-cart {
        background-color: $highlight-color;
        @include filter-gradient($highlight-color, darken($highlight-color, 5%), vertical);
        @include background-image(linear-gradient(top,  $highlight-color 0%,darken($highlight-color, 5%) 100%));
        color: white;
    }
}

.btn-cart {
    background: #f2f2f2;
    border-top: 1px solid #CCC;
    margin: 0;
    color: $main-text-color;
    border-radius: 0;
    &:hover {
        color: darken($highlight-color, 20%);
    }
    .fa {
        width: 25px;
        text-align: center;
    }
}

/* end product item styling */

.navbar-sellstrap {
    .navbar-nav > {
        li > a {
            font-size: 16px;
            color: #fff;
        }
        .dropdown > a .caret {
            border-top-color: #fff;
            border-bottom-color: #fff;
        }
    }
    .navbar-brand {
        color: $brand;
    }
}

.megamenu {
    padding: 20px 0;
    width: 700px;
    > li {
        > ul {
            padding: 0;
            margin: 0;
            > li {
                list-style: none;
                > a {
                    display: block;
                    padding: 3px 20px;
                    clear: both;
                    font-weight: normal;
                    line-height: 1.428571429;
                    color: $main-text-color;
                    white-space: normal;
                }
            }
        }
        ul > li > a {
            &:hover, &:focus {
                text-decoration: none;
                color: $main-text-color;
                background-color: #f5f5f5;
            }
        }
    }
    &.disabled > a {
        color: #999999;
        &:hover, &:focus {
            color: #999999;
        }
        &:hover, &:focus {
            text-decoration: none;
            background-color: transparent;
            background-image: none;
            filter: progid:DXImageTransform.Microsoft.gradient(enabled false);
            cursor: not-allowed;
        }
    }
    &.dropdown-header {
        color: $highlight-color;
        font-size: 18px;
    }
}

.just-text {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted $grey;
}

.tab-pane h4 {
    text-transform: uppercase;
    color: $highlight-color;
}

.menu-column {
    h4 {
        color: $highlight-color;
        text-transform: uppercase;
        margin: 0;
        border-bottom: 1px solid $grey;
        line-height: 25px;
        font-size: 14px;
    }
    ul {
        list-style: none;
        padding-left: 0;
        li {
            line-height: 25px;
            a {
                display: block;
                width: 100%;
                padding-left: 5px;
                padding-right: 5px;
                line-height: 30px;
                color: $main-text-color;
                &:hover {
                    background: $highlight-color;
                    color: white;
                }
            }
        }
    }
    .brand-logo {
        width: 50px;
        margin-right: 15px;
        margin-bottom: 15px;
    }
}

.image-link {
    display: block;
    float: left;
    width: 60px;
    padding: 5px;
    height: 60px;
    margin-right: 8px;
    margin-bottom: 4px;
    margin-top: 4px;
    border: 1px solid $grey;
    &:hover {
        border: 1px solid #999;
    }
}

@media (max-width: 768px) {
    .megamenu {
        margin-left: 0;
        margin-right: 0;
        > li {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &.dropdown-header {
            padding: 3px 15px !important;
        }
    }
    .navbar-nav .open .dropdown-menu .dropdown-header {
        color: #fff;
    }
}

/* tabs left overwrite */

.tabs-left > li > a {
    color: $main-text-color;
}

/* my cart */

.my-cart {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    li {
        overflow: hidden;
        line-height: 35px;
        font-size: 12px;
        padding: 5px 20px 5px 10px;
        &.item img {
            max-height: 40px;
            margin-right: 10px;
        }
    }
}

.dropdown-menu > li > a.checkout {
    background: $grey;
    font-weight: bold;
    text-decoration: none;
    color: $main-text-color;
    line-height: 30px;
    font-size: 13px;
    display: block;
    padding: 3px 20px;
    clear: both;
    &:hover {
        background: $grey;
        font-weight: bold;
        text-decoration: none;
        color: $main-text-color;
        line-height: 30px;
        font-size: 13px;
        display: block;
        padding: 3px 20px;
        clear: both;
    }
}

.sign-quantity {
    font-size: 11px;
    font-weight: bold;
    color: $highlight-color;
}

.my-cart li {
    .cart-product-link {
        margin-left: 70px;
        width: 190px;
        margin-right: 40px;
        a {
            color: $main-text-color;
        }
    }
    .cart-product-price {
        font-size: 12px;
        font-weight: bold;
        color: $highlight-color;
        margin-right: 10px;
    }
}

.mycart-container {
    position: relative;
    overflow: hidden;
    max-height: 200px;
}

.label-checkout {
    background: white;
    color: $highlight-color;
    line-height: 20px;
    margin-top: 1px;
    font-size: 13px;
}

/* end my cart */
/* products page */

.col-filters {
    padding-right: 0;
}

.category-header {
    height: 53px;
    border-bottom: 1px solid $grey;
    margin-bottom: 20px;
}

.category-title {
    margin-top: 0;
    float: left;
}

.category-pagination {
    overflow: hidden;
}

.nav-sort {
    margin-top: 11px;
}

.panel-filters {
    border: 1px solid $grey;
    margin-bottom: 0;
    border-radius: 0;
    .panel-heading {
        font-size: 13px;
        font-weight: bold;
        background: $grey;
        border-radius: 0;
    }
    .panel-body {
        border-top: 3px solid #CCC;
        ul {
            list-style: none;
            overflow: hidden;
            padding: 0;
            margin: 0;
        }
    }
}

.filter-size li {
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    a {
        background: #f2f2f2;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 3px solid $grey;
        &:hover {
            background: $highlight-color;
            color: white;
            text-decoration: none;
        }
    }
}

.color-filter {
    list-style: none;
    padding: 0;
    li {
        display: inline;
        float: left;
        width: 30px;
        height: 30px;
        margin-right: 5px;
        margin-bottom: 5px;
        a {
            display: block;
            background-color: #CCC;
            border: 3px solid #CCC;
            width: 30px;
            height: 30px;
            &:hover {
                border-color: #999;
            }
        }
    }
}

.panel-filters {
    .radio label, .checkbox label {
        padding-left: 0;
    }
}

.container-categories {
    height: 200px;
    overflow: hidden;
    position: relative;
    margin-right: 5px;
}

.panel-filters .panel-body .container-categories ul ul {
    margin-left: 10px;
}

.nav-list {
    > li > label {
        display: block;
        cursor: pointer;
    }
    li a {
        line-height: 25px;
        padding: 5px 5px;
    }
}

.col-images img.main-image {
    width: 85%;
}

.col-product {
    h1.product-name {
        margin-top: 0;
    }
    .product-price {
        font-size: 18px;
        line-height: 30px;
        b {
            font-weight: normal;
            color: $highlight-color;
        }
    }
}

.product-actions {
    margin-top: 20px;
}

.product-info {
    height: 40px;
    margin-top: 20px;
}

.product-menu {
    margin-top: 20px;
}

.btn-addtocart {
    background: darken($highlight-color, 10%);
    color: white;
    .fa {
        width: 25px;
        text-align: center;
    }
}

.btn-default .fa {
    width: 25px;
    text-align: center;
}

.btn-addtocart:hover {
    color: white;
}

.col-product .tab-content {
    padding-top: 10px;
    margin-bottom: 20px;
}

.panel-related {
    .panel-heading {
        background: #f2f2f2;
        font-weight: bold;
        border-radius: 4px;
        border-bottom: 3px solid $grey;
    }
    .panel-body {
        padding-left: 0;
        padding-right: 0;
    }
}

.table-attributes {
    margin-top: 20px;
}

#gallery_01 {
    img {
        border: 2px solid white;
    }
    .active img {
        border: 2px solid $main-text-color !important;
    }
}

.gallery-thumbs {
    margin: 20px 0;
    text-align: center;
    a {
        text-decoration: none;
        outline: 0;
        img {
            max-width: 100px;
            border: 2px solid white;
        }
        &.active img {
            border: 2px solid #999;
        }
    }
}

/* product */
/* cart */

.table-cart th {
    &.quantity {
        text-align: center;
        width: 130px;
    }
    &.image {
        text-align: center;
        width: 80px;
    }
}

.table.table-cart td {
    vertical-align: middle;
}

.table-cart td {
    &.image img {
        width: 50px;
        text-align: center;
    }
    &.name {
        font-size: 15px;
    }
    &.actions {
        width: 80px;
    }
}

.checkout-label {
    text-align: right;
    font-size: 16px;
    padding: 10px 0 20px;
    text-transform: uppercase;
    width: 180px;
}

.checkout-value {
    text-align: right;
    font-size: 16px;
    padding: 10px 0 20px;
    text-transform: uppercase;
}

.table-notop tr {
    &:first-child td {
        border-top: 0;
    }
    &:last-child td.checkout-value {
        font-weight: bold;
        color: $highlight-color;
    }
}

/* cart end */
/* checkout */

.panel-steps {
    ul {
        list-style: none;
        padding: 0;
    }
    .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {}
}

/* start login */

.panel-login, .panel-signup {
    border-top: 0;
}

.panel-login a, .panel-signup a {
    font-weight: bold;
    color: $main-text-color;
}

.panel-login, .panel-signup {
    border-color: $grey;
    border-radius: 0;
    margin-top: 50px;
}

.panel-login > .panel-body, .panel-signup > .panel-body {
    border-top: 3px solid $highlight-color;
}

.panel-login > .panel-footer, .panel-signup > .panel-footer {
    background: #f5f5f5;
    border-top: 1px solid $grey;
    padding: 10px 0 10px;
}

.panel-login h2, .panel-signup h2 {
    margin-top: 10px;
}

.form-title {
    margin-top: 0;
}

/* end login */
/* front page slider */

.jssorb21 {
    div {
        background: url('/packages/jssor/img/b05.png') no-repeat;
        overflow: hidden;
        cursor: pointer;
        &:hover {
            background: url('/packages/jssor/img/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
    }
    .av {
        background: url('/packages/jssor/img/b05.png') no-repeat;
        overflow: hidden;
        cursor: pointer;
    }
    div {
        background-position: -5px -5px;
        &:hover {
            background-position: -35px -5px;
        }
    }
    .av {
        &:hover {
            background-position: -35px -5px;
        }
        background-position: -65px -5px;
    }
    .dn {
        background-position: -95px -5px;
        &:hover {
            background-position: -95px -5px;
        }
    }
}

.jssora21l, .jssora21r, .jssora21ldn, .jssora21rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    background: url('/packages/jssor/img/a02.png') center center no-repeat;
    overflow: hidden;
}

.jssora21l {
    background-position: -3px -33px;
}

.jssora21r {
    background-position: -63px -33px;
}

.jssora21l:hover {
    background-position: -123px -33px;
}

.jssora21r:hover {
    background-position: -183px -33px;
}

.jssora21ldn {
    background-position: -243px -33px;
}

.jssora21rdn {
    background-position: -303px -33px;
}
