<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="admin/layout/default">
<head>
</head>
<body>
<div layout:fragment="content" class="container">
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

    <div>
        <form action="#" th:action="@{/admin/products}" th:object="${product}" method="post">
            <div>
                <label>Title: <input type="text" th:field="*{title}" th:errorclass="'error'"/></label>

                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect title</p>
            </div>
            <div>
                <label>Url: <input type="text" th:field="*{url}" th:errorclass="'error'"/></label>

                <p th:if="${#fields.hasErrors('url')}" th:errors="*{url}">Incorrect url</p>
            </div>
            <div><input type="submit" value="Add"/></div>
        </form>
    </div>

    <ul th:if="!${#lists.isEmpty(products)}">
        <li th:each="product : ${products}">
            <h2 th:text="${product.title}"></h2>
            <a href="#"
               th:href="@{/} + ${@environment.getProperty('web.mapping.products')} + @{/} + ${product.url}">link</a>
        </li>
    </ul>
</div>
</body>
</html>