<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Segment</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="look-and-feel.pages">Look and feel</a>
            </li>
            <li>
                <a ui-sref="look-and-feel.pages">Segments</a>
            </li>
            <li class="active">
                <strong>Segment</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="SegmentCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{segment.id}}</h5>

                    <div ibox-tools=""></div>
                </div>
                <div class="ibox-content">
                    <form method="get" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Id</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="segment.id"/>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>