<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar=""></span>
            <form role="search" class="navbar-form-custom" ng-submit="submit()" name="searchForm" ng-controller="SearchCtrl">
                <div class="form-group">
                    <input type="text" placeholder="{{ 'SEARCH' | translate }}" class="form-control" name="q" id="top-search" ng-model="query"/>
                </div>
            </form>
        </div>
    </nav>
</div>