@import url(http://fonts.googleapis.com/css?family=Gafata:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(http://fonts.googleapis.com/css?family=Cantarell:400,700);
@import url(http://fonts.googleapis.com/css?family=Oleo+Script:400,700);
/* line 32, ../../sass/styles.scss */
body {
  font-family: "Roboto Slab", sans-serif;
}
/* line 34, ../../sass/styles.scss */
body > .container {
  min-height: 680px;
}

@media (max-width: 765px) {
  /* line 40, ../../sass/styles.scss */
  body {
    padding-top: 70px;
  }
}
/* line 45, ../../sass/styles.scss */
a {
  color: #121212;
  text-decoration: none;
}
/* line 48, ../../sass/styles.scss */
a:hover {
  color: #2c2c2c;
}

/* line 53, ../../sass/styles.scss */
.form-control {
  border-radius: 0;
  box-shadow: none;
}
/* line 56, ../../sass/styles.scss */
.form-control:focus {
  border-color: #999;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(0, 0, 0, 0.1);
}

/* line 62, ../../sass/styles.scss */
.breadcrumb {
  background: #fbfbfb;
  border-radius: 0;
  padding-left: 0;
}

/* line 68, ../../sass/styles.scss */
.corner {
  border-color: rgba(255, 255, 255, 0) #ee456b rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  border-style: solid;
  border-width: 0 70px 40px 0;
  position: absolute;
  right: 15px;
  height: 0;
  width: 0;
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* line 79, ../../sass/styles.scss */
.corner-primary {
  border-color: rgba(255, 255, 255, 0) #f27490 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

/* line 83, ../../sass/styles.scss */
.corner-black {
  border-color: rgba(255, 255, 255, 0) black rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

/* line 87, ../../sass/styles.scss */
.corner-text {
  color: #fbfbfb;
  font-size: 10px;
  font-weight: bold;
  position: relative;
  right: -30px;
  top: 8px;
  width: 40px;
  text-align: center;
  white-space: nowrap;
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

/* line 100, ../../sass/styles.scss */
.row-margin {
  margin-bottom: 50px;
}

/* line 104, ../../sass/styles.scss */
.text-center {
  text-align: center;
}

/* line 108, ../../sass/styles.scss */
.pagination {
  margin-top: 0;
}
/* line 112, ../../sass/styles.scss */
.pagination > li > a, .pagination > li > span {
  color: #121212;
}
/* line 117, ../../sass/styles.scss */
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #fbfbfb;
  border-color: #DDD;
  color: #121212;
  cursor: default;
  z-index: 2;
}

/* line 128, ../../sass/styles.scss */
.page-title {
  margin-top: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #DDD;
  padding-bottom: 10px;
}

/* line 135, ../../sass/styles.scss */
.table > tbody > tr > th {
  border-top: 0;
}

/* line 139, ../../sass/styles.scss */
.panel-sidebar .nav > li.active > a {
  background: #f5f5f5;
}

/* line 143, ../../sass/styles.scss */
.brand-offcanvas {
  padding: 15px;
  font-family: "Oleo Script", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #fbfbfb;
  border-bottom: 1px solid #1f1f1f;
}
/* line 150, ../../sass/styles.scss */
.brand-offcanvas a {
  color: #fbfbfb;
  text-decoration: none;
}

/* line 156, ../../sass/styles.scss */
.navbar-inverse {
  background-color: #383838;
  border-color: #1f1f1f;
}

/* line 161, ../../sass/styles.scss */
.navmenu-inverse, .navbar-inverse .navbar-offcanvas {
  background-color: #383838;
  border-color: #1f1f1f;
}

/* line 167, ../../sass/styles.scss */
.navmenu-inverse .nav .open > a {
  border-bottom: 1px solid #1f1f1f;
  background: #383838;
  font-weight: bold;
}
/* line 171, ../../sass/styles.scss */
.navmenu-inverse .nav .open > a:hover, .navmenu-inverse .nav .open > a:focus {
  border-bottom: 1px solid #1f1f1f;
  background: #383838;
  font-weight: bold;
}
/* line 177, ../../sass/styles.scss */
.navmenu-inverse .navmenu-nav > li > a {
  color: white;
  border-bottom: 1px solid #1f1f1f;
  font-weight: bold;
}

/* line 184, ../../sass/styles.scss */
.navbar-inverse .navbar-offcanvas .navmenu-nav > li > a {
  color: white;
  border-bottom: 1px solid #1f1f1f;
  font-weight: bold;
}

/* line 190, ../../sass/styles.scss */
.navmenu-inverse .navmenu-nav > li > a .fa, .navbar-inverse .navbar-offcanvas .navmenu-nav > li > a .fa {
  width: 25px;
  text-align: center;
}

/* line 195, ../../sass/styles.scss */
.navmenu-inverse .navmenu-nav > li.nav-cart > a .fa, .navbar-inverse .navbar-offcanvas .navmenu-nav > li.nav-cart > a .fa {
  width: 60px;
}

/* line 199, ../../sass/styles.scss */
.dropdown-backdrop {
  position: static;
}

/* line 203, ../../sass/styles.scss */
.navmenu-nav.dropdown-menu {
  padding: 10px;
}

/* line 207, ../../sass/styles.scss */
.navmenu-inverse .navmenu-nav.dropdown-menu, .navbar-inverse .navbar-offcanvas .navmenu-nav.dropdown-menu {
  background-color: #525252;
}

/* line 211, ../../sass/styles.scss */
.nav-cart {
  text-align: center;
}

/* line 215, ../../sass/styles.scss */
.navmenu-inverse .navmenu-nav > .dropdown > a .caret, .navbar-inverse .navbar-offcanvas .navmenu-nav > .dropdown > a .caret {
  border-bottom-color: #999;
  border-top-color: #999;
  margin-top: 10px;
}

/* line 221, ../../sass/styles.scss */
.navmenu-inverse .dropdown-menu > li > a {
  clear: both;
  background: #383838;
  color: #fbfbfb;
  display: block;
  font-weight: 400;
  line-height: 1.8;
  padding: 3px 20px;
  white-space: nowrap;
  border-bottom: 1px solid #1f1f1f;
}

/* line 233, ../../sass/styles.scss */
.navmenu, .navbar-offcanvas {
  width: 200px;
}

/* line 237, ../../sass/styles.scss */
.navbar-inverse .navbar-toggle {
  margin-right: 5px;
  border-color: #1f1f1f;
}

/* line 242, ../../sass/styles.scss */
.container-search {
  margin-left: 80px;
  padding-right: 20px;
}

/* line 247, ../../sass/styles.scss */
.search-mobile {
  margin-top: 7px;
}
/* line 249, ../../sass/styles.scss */
.search-mobile input[type=text] {
  background: #383838;
  border-color: #1f1f1f;
  border-radius: 0;
}
/* line 253, ../../sass/styles.scss */
.search-mobile input[type=text]:focus {
  background: #fbfbfb;
}

/* line 259, ../../sass/styles.scss */
.navbar {
  border-radius: 0;
}

/* line 263, ../../sass/styles.scss */
.navbar-brand {
  font-family: "Oleo Script", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #fbfbfb;
}
/* line 268, ../../sass/styles.scss */
.navbar-brand:hover {
  color: #eeeeee;
}

/* line 273, ../../sass/styles.scss */
.navbar-sellstrap {
  background: #383838;
}
/* line 275, ../../sass/styles.scss */
.navbar-sellstrap .navbar-nav > li > a {
  font-family: "Gafata", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
}
/* line 280, ../../sass/styles.scss */
.navbar-sellstrap .navbar-nav > li > a:hover {
  background: #525252;
  padding-bottom: 12px;
  border-bottom: 3px solid #1f1f1f;
}

/* line 288, ../../sass/styles.scss */
.nav .open > a {
  background-color: #121212;
  padding-bottom: 12px;
  border-bottom: 3px solid #999;
}
/* line 292, ../../sass/styles.scss */
.nav .open > a:hover, .nav .open > a:focus {
  background-color: #121212;
  padding-bottom: 12px;
  border-bottom: 3px solid #999;
}

@media (min-width: 768px) {
  /* line 300, ../../sass/styles.scss */
  .dropdown-menu li:hover .sub-menu {
    visibility: visible;
  }
}
@media (min-width: 768px) {
  /* line 306, ../../sass/styles.scss */
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}
/* line 311, ../../sass/styles.scss */
.promo {
  text-align: center;
  margin-top: 80px;
}
/* line 314, ../../sass/styles.scss */
.promo .well-sm {
  background: #fbfbfb;
  color: #121212;
  border: 1px solid #DDD;
  border-top: 3px solid #DDD;
  border-radius: 0;
  padding: 0;
}
/* line 322, ../../sass/styles.scss */
.promo .round-header {
  background: #fbfbfb;
  width: 70px;
  height: 70px;
  line-height: 80px;
  position: absolute;
  top: -35px;
  left: 42%;
  border-radius: 4px;
  border: 3px solid #DDD;
  color: #c4c4c4;
}
/* line 334, ../../sass/styles.scss */
.promo h4 {
  font-weight: bold;
  color: #f27490;
  padding-top: 40px;
  margin-top: 0;
}
/* line 340, ../../sass/styles.scss */
.promo a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
}
/* line 345, ../../sass/styles.scss */
.promo a:hover {
  text-decoration: none;
}
/* line 350, ../../sass/styles.scss */
.promo:hover .round-header {
  color: #121212;
  border-color: #999;
}
/* line 354, ../../sass/styles.scss */
.promo:hover .well-sm {
  background: #f5f5f5;
  border-top: 3px solid #999;
}

/* line 361, ../../sass/styles.scss */
.dropdown-menu {
  background-color: #fbfbfb;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  box-shadow: 0 6px 7px rgba(0, 0, 0, 0.176);
  display: none;
  float: left;
  font-size: 14px;
  left: 0;
  list-style: none outside none;
  margin: 2px 0 0;
  min-width: 160px;
  padding: 5px 0;
  position: absolute;
  text-align: left;
  top: 100%;
  z-index: 1000;
}
/* line 379, ../../sass/styles.scss */
.dropdown-menu > li > a {
  clear: both;
  color: #121212;
  display: block;
  font-weight: 400;
  line-height: 1.42857;
  padding: 3px 20px;
  white-space: nowrap;
}
/* line 387, ../../sass/styles.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background: #f2f2f2;
  color: #121212;
  text-decoration: none;
}
/* line 393, ../../sass/styles.scss */
.dropdown-menu > .active > a {
  background-color: #f27490;
  color: white;
  outline: 0 none;
  text-decoration: none;
}
/* line 398, ../../sass/styles.scss */
.dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: #f27490;
  color: white;
  outline: 0 none;
  text-decoration: none;
}
/* line 405, ../../sass/styles.scss */
.dropdown-menu > .disabled > a {
  color: #999;
}
/* line 407, ../../sass/styles.scss */
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  color: #999;
}
/* line 410, ../../sass/styles.scss */
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  background: transparent none;
  cursor: not-allowed;
  text-decoration: none;
}

/* line 419, ../../sass/styles.scss */
.dropdown-header {
  font-size: 14px;
  font-weight: bold;
  color: #121212;
  display: block;
  line-height: 1.42857;
  padding: 3px 3px 3px 19px;
  white-space: nowrap;
}

/* line 429, ../../sass/styles.scss */
.btn {
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid #DDD;
}

/* line 435, ../../sass/styles.scss */
.btn-default {
  background: #f5f5f5;
}

/* line 439, ../../sass/styles.scss */
.btn-primary {
  background: none repeat scroll 0 0 #f27490;
  border-bottom: 2px solid #ee456b;
  border-radius: 0;
  color: #fff;
}
/* line 444, ../../sass/styles.scss */
.btn-primary:hover {
  background: #f48ba3;
  color: #fff;
  border-bottom: 2px solid #f26f8c;
}

/* front page styles */
/* line 453, ../../sass/styles.scss */
.page-front .navbar {
  margin-bottom: 20px;
}

/* line 458, ../../sass/styles.scss */
.panel-sidebar .panel-heading {
  background: #DDD;
  border: 0 none;
  font-size: 13px;
  font-weight: bold;
  border-bottom: 3px solid #f2f2f2;
}
/* line 465, ../../sass/styles.scss */
.panel-sidebar .panel-body {
  padding: 0;
}

/* line 470, ../../sass/styles.scss */
.search-box {
  min-width: 70px;
  height: 50px;
  padding-left: 0;
  position: relative;
  padding-top: 8px;
}
/* line 476, ../../sass/styles.scss */
.search-box:focus {
  border-bottom: 3px solid #f2f2f2;
}

/* line 481, ../../sass/styles.scss */
#searchTxt {
  background: transparent;
  border-color: transparent;
  border-radius: 0;
  font-size: 14px;
  width: 75px;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  cursor: pointer;
}
/* line 492, ../../sass/styles.scss */
#searchTxt.form-control {
  font-family: "Gafata", sans-serif;
  padding-right: 0;
  font-size: 15px;
}
/* line 496, ../../sass/styles.scss */
#searchTxt.form-control:focus {
  background: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
  cursor: inherit;
  padding: 6px 12px;
}
/* line 502, ../../sass/styles.scss */
#searchTxt.form-control::-moz-placeholder, #searchTxt.form-control::-webkit-input-placeholder, #searchTxt.form-control::-ms-input-placeholder {
  color: white;
  font-size: 15px;
  opacity: 1;
}
/* line 507, ../../sass/styles.scss */
#searchTxt.form-control:focus::-moz-placeholder {
  color: #999;
  opacity: 1;
}

/* footer */
/* line 516, ../../sass/styles.scss */
.footer {
  background: #f2f2f2;
  border-top: 3px solid #DDD;
  margin-top: 50px;
}

/* line 522, ../../sass/styles.scss */
.panel-footer {
  background: transparent;
  box-shadow: none;
  padding: 10px 0 20px;
  border: 0;
  margin: 0;
}
/* line 528, ../../sass/styles.scss */
.panel-footer .panel-heading {
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #DDD;
  padding: 0;
  line-height: 25px;
  text-transform: uppercase;
}
/* line 536, ../../sass/styles.scss */
.panel-footer > .panel-body {
  padding: 0;
}
/* line 538, ../../sass/styles.scss */
.panel-footer > .panel-body > ul {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
/* line 542, ../../sass/styles.scss */
.panel-footer > .panel-body > ul > li {
  line-height: 25px;
}
/* line 544, ../../sass/styles.scss */
.panel-footer > .panel-body > ul > li > a {
  color: #121212;
}

/* line 552, ../../sass/styles.scss */
.social-links {
  margin-top: 10px;
}

/* line 556, ../../sass/styles.scss */
.social-link {
  display: block;
  float: left;
  background: white;
  width: 40px;
  height: 40px;
  overflow: hidden;
  line-height: 46px;
  border: 1px solid #DDD;
  text-align: center;
  margin-right: 5px;
  color: #999;
}

/* end footer */
/* product item styling */
/* line 575, ../../sass/styles.scss */
.product-item {
  border: 1px solid #DDD;
  background: white;
  margin-bottom: 20px;
  overflow: hidden;
}
/* line 580, ../../sass/styles.scss */
.product-item .photo img {
  margin: 0 auto;
  width: 100%;
}
/* line 584, ../../sass/styles.scss */
.product-item .info {
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  line-height: 30px;
}
/* line 590, ../../sass/styles.scss */
.product-item:hover .info {
  background-color: #f2f2f2;
}
/* line 593, ../../sass/styles.scss */
.product-item .product-name {
  margin: 0;
  line-height: 30px;
  border-top: 1px solid #DDD;
  border-bottom: 1px dotted #999;
}
/* line 598, ../../sass/styles.scss */
.product-item .product-name a {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  font-size: 15px;
  color: #121212;
  font-weight: bold;
}
/* line 610, ../../sass/styles.scss */
.product-item:hover .product-name a {
  background: white;
  color: #121212;
}
/* line 614, ../../sass/styles.scss */
.product-item .price {
  font-size: 14px;
  font-weight: bold;
  color: #121212;
}
/* line 619, ../../sass/styles.scss */
.product-item .stock {
  font-size: 13px;
  font-weight: bold;
  color: #f27490;
}
/* line 624, ../../sass/styles.scss */
.product-item .stock-last {
  color: #e91746;
}

/* line 630, ../../sass/styles.scss */
.product-item .info .rating {
  color: #999;
}
/* line 633, ../../sass/styles.scss */
.product-item .rating {
  float: left;
  font-size: 17px;
  text-align: right;
  line-height: 52px;
  margin-bottom: 10px;
  height: 52px;
}

/* line 643, ../../sass/styles.scss */
.clear-left {
  clear: left;
}

/* line 648, ../../sass/styles.scss */
.product-item .separator p {
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center;
}
/* line 653, ../../sass/styles.scss */
.product-item .separator p i {
  margin-right: 5px;
}
/* line 657, ../../sass/styles.scss */
.product-item .btn-add {
  width: 50%;
  float: left;
  border-right: 1px solid #DDD;
}
/* line 662, ../../sass/styles.scss */
.product-item .btn-details {
  width: 50%;
  float: left;
  padding-left: 10px;
}
/* line 667, ../../sass/styles.scss */
.product-item:hover .btn-cart {
  background-color: #f27490;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF27490', endColorstr='#FFF05D7D');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyNzQ5MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YwNWQ3ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f27490), color-stop(100%, #f05d7d));
  background-image: -moz-linear-gradient(top, #f27490 0%, #f05d7d 100%);
  background-image: -webkit-linear-gradient(top, #f27490 0%, #f05d7d 100%);
  background-image: linear-gradient(to bottom, #f27490 0%, #f05d7d 100%);
  color: white;
}

/* line 675, ../../sass/styles.scss */
.btn-cart {
  background: #f2f2f2;
  border-top: 1px solid #CCC;
  margin: 0;
  color: #121212;
  border-radius: 0;
}
/* line 681, ../../sass/styles.scss */
.btn-cart:hover {
  color: #e91746;
}
/* line 684, ../../sass/styles.scss */
.btn-cart .fa {
  width: 25px;
  text-align: center;
}

/* end product item styling */
/* line 694, ../../sass/styles.scss */
.navbar-sellstrap .navbar-nav > li > a {
  font-size: 16px;
  color: #fff;
}
/* line 698, ../../sass/styles.scss */
.navbar-sellstrap .navbar-nav > .dropdown > a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
/* line 703, ../../sass/styles.scss */
.navbar-sellstrap .navbar-brand {
  color: #fbfbfb;
}

/* line 708, ../../sass/styles.scss */
.megamenu {
  padding: 20px 0;
  width: 700px;
}
/* line 712, ../../sass/styles.scss */
.megamenu > li > ul {
  padding: 0;
  margin: 0;
}
/* line 715, ../../sass/styles.scss */
.megamenu > li > ul > li {
  list-style: none;
}
/* line 717, ../../sass/styles.scss */
.megamenu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #121212;
  white-space: normal;
}
/* line 729, ../../sass/styles.scss */
.megamenu > li ul > li > a:hover, .megamenu > li ul > li > a:focus {
  text-decoration: none;
  color: #121212;
  background-color: #f5f5f5;
}
/* line 736, ../../sass/styles.scss */
.megamenu.disabled > a {
  color: #999999;
}
/* line 738, ../../sass/styles.scss */
.megamenu.disabled > a:hover, .megamenu.disabled > a:focus {
  color: #999999;
}
/* line 741, ../../sass/styles.scss */
.megamenu.disabled > a:hover, .megamenu.disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled false);
  cursor: not-allowed;
}
/* line 749, ../../sass/styles.scss */
.megamenu.dropdown-header {
  color: #f27490;
  font-size: 18px;
}

/* line 755, ../../sass/styles.scss */
.just-text {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #DDD;
}

/* line 762, ../../sass/styles.scss */
.tab-pane h4 {
  text-transform: uppercase;
  color: #f27490;
}

/* line 768, ../../sass/styles.scss */
.menu-column h4 {
  color: #f27490;
  text-transform: uppercase;
  margin: 0;
  border-bottom: 1px solid #DDD;
  line-height: 25px;
  font-size: 14px;
}
/* line 776, ../../sass/styles.scss */
.menu-column ul {
  list-style: none;
  padding-left: 0;
}
/* line 779, ../../sass/styles.scss */
.menu-column ul li {
  line-height: 25px;
}
/* line 781, ../../sass/styles.scss */
.menu-column ul li a {
  display: block;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 30px;
  color: #121212;
}
/* line 788, ../../sass/styles.scss */
.menu-column ul li a:hover {
  background: #f27490;
  color: white;
}
/* line 795, ../../sass/styles.scss */
.menu-column .brand-logo {
  width: 50px;
  margin-right: 15px;
  margin-bottom: 15px;
}

/* line 802, ../../sass/styles.scss */
.image-link {
  display: block;
  float: left;
  width: 60px;
  padding: 5px;
  height: 60px;
  margin-right: 8px;
  margin-bottom: 4px;
  margin-top: 4px;
  border: 1px solid #DDD;
}
/* line 812, ../../sass/styles.scss */
.image-link:hover {
  border: 1px solid #999;
}

@media (max-width: 768px) {
  /* line 818, ../../sass/styles.scss */
  .megamenu {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 821, ../../sass/styles.scss */
  .megamenu > li {
    margin-bottom: 30px;
  }
  /* line 823, ../../sass/styles.scss */
  .megamenu > li:last-child {
    margin-bottom: 0;
  }
  /* line 827, ../../sass/styles.scss */
  .megamenu.dropdown-header {
    padding: 3px 15px !important;
  }

  /* line 831, ../../sass/styles.scss */
  .navbar-nav .open .dropdown-menu .dropdown-header {
    color: #fff;
  }
}
/* tabs left overwrite */
/* line 838, ../../sass/styles.scss */
.tabs-left > li > a {
  color: #121212;
}

/* my cart */
/* line 844, ../../sass/styles.scss */
.my-cart {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
/* line 848, ../../sass/styles.scss */
.my-cart li {
  overflow: hidden;
  line-height: 35px;
  font-size: 12px;
  padding: 5px 20px 5px 10px;
}
/* line 853, ../../sass/styles.scss */
.my-cart li.item img {
  max-height: 40px;
  margin-right: 10px;
}

/* line 860, ../../sass/styles.scss */
.dropdown-menu > li > a.checkout {
  background: #DDD;
  font-weight: bold;
  text-decoration: none;
  color: #121212;
  line-height: 30px;
  font-size: 13px;
  display: block;
  padding: 3px 20px;
  clear: both;
}
/* line 870, ../../sass/styles.scss */
.dropdown-menu > li > a.checkout:hover {
  background: #DDD;
  font-weight: bold;
  text-decoration: none;
  color: #121212;
  line-height: 30px;
  font-size: 13px;
  display: block;
  padding: 3px 20px;
  clear: both;
}

/* line 883, ../../sass/styles.scss */
.sign-quantity {
  font-size: 11px;
  font-weight: bold;
  color: #f27490;
}

/* line 890, ../../sass/styles.scss */
.my-cart li .cart-product-link {
  margin-left: 70px;
  width: 190px;
  margin-right: 40px;
}
/* line 894, ../../sass/styles.scss */
.my-cart li .cart-product-link a {
  color: #121212;
}
/* line 898, ../../sass/styles.scss */
.my-cart li .cart-product-price {
  font-size: 12px;
  font-weight: bold;
  color: #f27490;
  margin-right: 10px;
}

/* line 906, ../../sass/styles.scss */
.mycart-container {
  position: relative;
  overflow: hidden;
  max-height: 200px;
}

/* line 912, ../../sass/styles.scss */
.label-checkout {
  background: white;
  color: #f27490;
  line-height: 20px;
  margin-top: 1px;
  font-size: 13px;
}

/* end my cart */
/* products page */
/* line 923, ../../sass/styles.scss */
.col-filters {
  padding-right: 0;
}

/* line 927, ../../sass/styles.scss */
.category-header {
  height: 53px;
  border-bottom: 1px solid #DDD;
  margin-bottom: 20px;
}

/* line 933, ../../sass/styles.scss */
.category-title {
  margin-top: 0;
  float: left;
}

/* line 938, ../../sass/styles.scss */
.category-pagination {
  overflow: hidden;
}

/* line 942, ../../sass/styles.scss */
.nav-sort {
  margin-top: 11px;
}

/* line 946, ../../sass/styles.scss */
.panel-filters {
  border: 1px solid #DDD;
  margin-bottom: 0;
  border-radius: 0;
}
/* line 950, ../../sass/styles.scss */
.panel-filters .panel-heading {
  font-size: 13px;
  font-weight: bold;
  background: #DDD;
  border-radius: 0;
}
/* line 956, ../../sass/styles.scss */
.panel-filters .panel-body {
  border-top: 3px solid #CCC;
}
/* line 958, ../../sass/styles.scss */
.panel-filters .panel-body ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

/* line 967, ../../sass/styles.scss */
.filter-size li {
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}
/* line 971, ../../sass/styles.scss */
.filter-size li a {
  background: #f2f2f2;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 3px solid #DDD;
}
/* line 976, ../../sass/styles.scss */
.filter-size li a:hover {
  background: #f27490;
  color: white;
  text-decoration: none;
}

/* line 984, ../../sass/styles.scss */
.color-filter {
  list-style: none;
  padding: 0;
}
/* line 987, ../../sass/styles.scss */
.color-filter li {
  display: inline;
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
}
/* line 994, ../../sass/styles.scss */
.color-filter li a {
  display: block;
  background-color: #CCC;
  border: 3px solid #CCC;
  width: 30px;
  height: 30px;
}
/* line 1000, ../../sass/styles.scss */
.color-filter li a:hover {
  border-color: #999;
}

/* line 1008, ../../sass/styles.scss */
.panel-filters .radio label, .panel-filters .checkbox label {
  padding-left: 0;
}

/* line 1013, ../../sass/styles.scss */
.container-categories {
  height: 200px;
  overflow: hidden;
  position: relative;
  margin-right: 5px;
}

/* line 1020, ../../sass/styles.scss */
.panel-filters .panel-body .container-categories ul ul {
  margin-left: 10px;
}

/* line 1025, ../../sass/styles.scss */
.nav-list > li > label {
  display: block;
  cursor: pointer;
}
/* line 1029, ../../sass/styles.scss */
.nav-list li a {
  line-height: 25px;
  padding: 5px 5px;
}

/* line 1035, ../../sass/styles.scss */
.col-images img.main-image {
  width: 85%;
}

/* line 1040, ../../sass/styles.scss */
.col-product h1.product-name {
  margin-top: 0;
}
/* line 1043, ../../sass/styles.scss */
.col-product .product-price {
  font-size: 18px;
  line-height: 30px;
}
/* line 1046, ../../sass/styles.scss */
.col-product .product-price b {
  font-weight: normal;
  color: #f27490;
}

/* line 1053, ../../sass/styles.scss */
.product-actions {
  margin-top: 20px;
}

/* line 1057, ../../sass/styles.scss */
.product-info {
  height: 40px;
  margin-top: 20px;
}

/* line 1062, ../../sass/styles.scss */
.product-menu {
  margin-top: 20px;
}

/* line 1066, ../../sass/styles.scss */
.btn-addtocart {
  background: #ee456b;
  color: white;
}
/* line 1069, ../../sass/styles.scss */
.btn-addtocart .fa {
  width: 25px;
  text-align: center;
}

/* line 1075, ../../sass/styles.scss */
.btn-default .fa {
  width: 25px;
  text-align: center;
}

/* line 1080, ../../sass/styles.scss */
.btn-addtocart:hover {
  color: white;
}

/* line 1084, ../../sass/styles.scss */
.col-product .tab-content {
  padding-top: 10px;
  margin-bottom: 20px;
}

/* line 1090, ../../sass/styles.scss */
.panel-related .panel-heading {
  background: #f2f2f2;
  font-weight: bold;
  border-radius: 4px;
  border-bottom: 3px solid #DDD;
}
/* line 1096, ../../sass/styles.scss */
.panel-related .panel-body {
  padding-left: 0;
  padding-right: 0;
}

/* line 1102, ../../sass/styles.scss */
.table-attributes {
  margin-top: 20px;
}

/* line 1107, ../../sass/styles.scss */
#gallery_01 img {
  border: 2px solid white;
}
/* line 1110, ../../sass/styles.scss */
#gallery_01 .active img {
  border: 2px solid #121212 !important;
}

/* line 1115, ../../sass/styles.scss */
.gallery-thumbs {
  margin: 20px 0;
  text-align: center;
}
/* line 1118, ../../sass/styles.scss */
.gallery-thumbs a {
  text-decoration: none;
  outline: 0;
}
/* line 1121, ../../sass/styles.scss */
.gallery-thumbs a img {
  max-width: 100px;
  border: 2px solid white;
}
/* line 1125, ../../sass/styles.scss */
.gallery-thumbs a.active img {
  border: 2px solid #999;
}

/* product */
/* cart */
/* line 1135, ../../sass/styles.scss */
.table-cart th.quantity {
  text-align: center;
  width: 130px;
}
/* line 1139, ../../sass/styles.scss */
.table-cart th.image {
  text-align: center;
  width: 80px;
}

/* line 1145, ../../sass/styles.scss */
.table.table-cart td {
  vertical-align: middle;
}

/* line 1150, ../../sass/styles.scss */
.table-cart td.image img {
  width: 50px;
  text-align: center;
}
/* line 1154, ../../sass/styles.scss */
.table-cart td.name {
  font-size: 15px;
}
/* line 1157, ../../sass/styles.scss */
.table-cart td.actions {
  width: 80px;
}

/* line 1162, ../../sass/styles.scss */
.checkout-label {
  text-align: right;
  font-size: 16px;
  padding: 10px 0 20px;
  text-transform: uppercase;
  width: 180px;
}

/* line 1170, ../../sass/styles.scss */
.checkout-value {
  text-align: right;
  font-size: 16px;
  padding: 10px 0 20px;
  text-transform: uppercase;
}

/* line 1178, ../../sass/styles.scss */
.table-notop tr:first-child td {
  border-top: 0;
}
/* line 1181, ../../sass/styles.scss */
.table-notop tr:last-child td.checkout-value {
  font-weight: bold;
  color: #f27490;
}

/* cart end */
/* checkout */
/* line 1191, ../../sass/styles.scss */
.panel-steps ul {
  list-style: none;
  padding: 0;
}

/* start login */
/* line 1200, ../../sass/styles.scss */
.panel-login, .panel-signup {
  border-top: 0;
}

/* line 1204, ../../sass/styles.scss */
.panel-login a, .panel-signup a {
  font-weight: bold;
  color: #121212;
}

/* line 1209, ../../sass/styles.scss */
.panel-login, .panel-signup {
  border-color: #DDD;
  border-radius: 0;
  margin-top: 50px;
}

/* line 1215, ../../sass/styles.scss */
.panel-login > .panel-body, .panel-signup > .panel-body {
  border-top: 3px solid #f27490;
}

/* line 1219, ../../sass/styles.scss */
.panel-login > .panel-footer, .panel-signup > .panel-footer {
  background: #f5f5f5;
  border-top: 1px solid #DDD;
  padding: 10px 0 10px;
}

/* line 1225, ../../sass/styles.scss */
.panel-login h2, .panel-signup h2 {
  margin-top: 10px;
}

/* line 1229, ../../sass/styles.scss */
.form-title {
  margin-top: 0;
}

/* end login */
/* front page slider */
/* line 1237, ../../sass/styles.scss */
.jssorb21 div {
  background: url("/packages/jssor/img/b05.png") no-repeat;
  overflow: hidden;
  cursor: pointer;
}
/* line 1241, ../../sass/styles.scss */
.jssorb21 div:hover {
  background: url("/packages/jssor/img/b05.png") no-repeat;
  overflow: hidden;
  cursor: pointer;
}
/* line 1247, ../../sass/styles.scss */
.jssorb21 .av {
  background: url("/packages/jssor/img/b05.png") no-repeat;
  overflow: hidden;
  cursor: pointer;
}
/* line 1252, ../../sass/styles.scss */
.jssorb21 div {
  background-position: -5px -5px;
}
/* line 1254, ../../sass/styles.scss */
.jssorb21 div:hover {
  background-position: -35px -5px;
}
/* line 1258, ../../sass/styles.scss */
.jssorb21 .av {
  background-position: -65px -5px;
}
/* line 1259, ../../sass/styles.scss */
.jssorb21 .av:hover {
  background-position: -35px -5px;
}
/* line 1264, ../../sass/styles.scss */
.jssorb21 .dn {
  background-position: -95px -5px;
}
/* line 1266, ../../sass/styles.scss */
.jssorb21 .dn:hover {
  background-position: -95px -5px;
}

/* line 1272, ../../sass/styles.scss */
.jssora21l, .jssora21r, .jssora21ldn, .jssora21rdn {
  position: absolute;
  cursor: pointer;
  display: block;
  background: url("/packages/jssor/img/a02.png") center center no-repeat;
  overflow: hidden;
}

/* line 1280, ../../sass/styles.scss */
.jssora21l {
  background-position: -3px -33px;
}

/* line 1284, ../../sass/styles.scss */
.jssora21r {
  background-position: -63px -33px;
}

/* line 1288, ../../sass/styles.scss */
.jssora21l:hover {
  background-position: -123px -33px;
}

/* line 1292, ../../sass/styles.scss */
.jssora21r:hover {
  background-position: -183px -33px;
}

/* line 1296, ../../sass/styles.scss */
.jssora21ldn {
  background-position: -243px -33px;
}

/* line 1300, ../../sass/styles.scss */
.jssora21rdn {
  background-position: -303px -33px;
}
