<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/default">
<head>

</head>
<body>
<div layout:fragment="content" class="container">

    <div class="row">
        <div class="col-md-12" th:include="segment/breadcrumb :: breadcrumb"></div>
    </div>

    <div class="row">
        <!--/*
        <div class="col-md-5 col-images">
            <img id="img_01" src="/assets/images/image-1-thumb.jpg" data-zoom-image="/assets/images/image-2-big.jpg"
                 alt="main image"/>

            <div id="gallery-thumbs" class="gallery-thumbs">
                <a href="#" data-image="/assets/images/image-1-thumb.jpg"
                   data-zoom-image="/assets/images/image-1-big.jpg" class="active">
                    <img id="img_01" src="/assets/images/image-1-big.jpg" alt="image 1"/>
                </a>
                <a href="#" data-image="/assets/images/image-2-thumb.jpg"
                   data-zoom-image="/assets/images/image-2-big.jpg">
                <img id="img_01" src="/assets/images/image-2-big.jpg" alt="image 2"/>
                </a>
            </div>
        </div>

        <div class="col-md-7 col-product">
        */-->
        <div class="col-md-12 col-product">
            <h1 class="product-name" th:text="${product.title}">Product name</h1>
            <!--/*
            <div class="product-info">
                <div class="menuAtoZFilter multiRowCheckboxMenu">
                    <input class="selected" type="submit" name="action" value="Size M"/>
                    <input class="" type="submit" name="action" value="XS"/>
                    <input class="" type="submit" name="action" value="S"/>
                    <input class="" type="submit" name="action" value="M"/>
                    <input class="" type="submit" name="action" value="L"/>
                    <input class="" type="submit" name="action" value="XL"/>
                    <input class="" type="submit" name="action" value="2XL"/>
                </div>
                <div class="product-price pull-left">Price: <b>&pound;125</b></div>
            </div>
            */-->
            <div class="row">
                <div class="col-md-3">
                    <a class="btn btn-addtocart btn-block" href="/dev/cart.html">
                        <span class="fa fa-shopping-cart"></span>Add to cart
                    </a>
                </div>
                <!--/*
                <div class="col-md-3">
                    <a class="btn btn-default btn-block" href="/dev/wishlist.html">
                        <span class="fa fa-heart"></span>Add to wishlist
                    </a>
                </div>
                */-->
            </div>
            <ul class="nav nav-tabs product-menu" role="tablist">
                <li class="active"><a href="#home" role="tab" data-toggle="tab">PRODUCT DETAILS</a></li>
                <li><a href="#delivery" role="tab" data-toggle="tab">DELIVERY</a></li>
                <li><a href="#payment" role="tab" data-toggle="tab">PAYMENT &amp; RETURNS</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="home" th:text="${product.title}">
                    Product description
                </div>

                <div class="tab-pane" id="delivery">
                    Delivery tab
                </div>

                <div class="tab-pane" id="payment">
                    Payment tab
                </div>
            </div>

            <!--/*
            <div class="panel panel-related">
                <div class="panel-heading">Related products</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div th:replace="segment/product/product-item :: product('glow','url4', 'De Rosa 888 Super King E Super 2015')"></div>
                        </div>

                        <div class="col-sm-3">
                            <div th:replace="segment/product/product-item :: product('glow','url4', 'De Rosa 888 Super King E Super 2015')"></div>
                        </div>

                        <div class="col-sm-3">
                            <div th:replace="segment/product/product-item :: product('glow','url4', 'De Rosa 888 Super King E Super 2015')"></div>
                        </div>

                        <div class="col-sm-3">
                            <div th:replace="segment/product/product-item :: product('glow','url4', 'De Rosa 888 Super King E Super 2015')"></div>
                        </div>
                    </div>
                </div>
            </div>
            */-->
        </div>
    </div>
</div>

<script layout:fragment="script">
    jQuery(document).ready(function ($) {
        $('div.menuAtoZFilter').checkboxMenu({
            menuClass: 'wide',
            menuItemClick: function (text) {
                return true;
            }
        });
    });
</script>

</body>
</html>