<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
</head>
<body>

<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-md-12" th:include="segment/breadcrumb :: breadcrumb"></div>
    </div>
    <div class="row" th:if="!${#lists.isEmpty(products)}">
        <!--/*
        <div class="col-md-2 col-sm-12 col-xs-12 col-filters" th:include="segment/product/filters :: filters"></div>
        */-->

        <div class="col-md-12 col-sm-12 col-xs-12 ">
            <div class="category-header">
                <!--/*
                <ul class="nav nav-tabs pull-right nav-sort" role="tablist">
                    <li class="active"><a href="#">HOT</a> </li>
                    <li><a href="#">NEW</a> </li>
                    <li><a href="#">PRICE</a></li>
                </ul>
                */-->
                <h1 class="category-title">All products</h1>
            </div>

            <!--<div class="category-pagination" th:include="segment/product/pagination :: pagination"></div>-->

            <div class="row">
                <th:block th:each="product : ${products}">
                    <div class="col-sm-3"
                         th:include="segment/product/product-item :: product('glow',${product.url}, ${product.title})"></div>
                </th:block>
            </div>

            <!--<div class="category-pagination" th:include="segment/product/pagination :: pagination"></div>-->
        </div>
    </div>
</div>
</body>
</html>