<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
</head>
<body>

<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-md-2 col-sm-12 col-xs-12 col-filters">
            <div class="panel panel-filters">
                <div class="panel-heading">Categories</div>
                <div class="panel-body" style="padding-right: 0; padding-left: 10px;">
                    <div class="container-categories">
                        <ul class="nav nav-list">
                            <li>
                                <label class="tree-toggler nav-header">
                                    <span class="caret"></span> Apparel</label>
                                <ul class="nav nav-list tree">
                                    <li>
                                        <label class="tree-toggler nav-header">
                                            <span class="caret"></span> Tops</label>
                                        <ul class="nav nav-list tree">
                                            <li>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="" class="icheck" /> Shirts
                                                    </label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="" class="icheck" /> T-Shirts
                                                    </label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="" class="icheck" /> Cardigans
                                                    </label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="" class="icheck" /> Knitwear
                                                    </label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="" class="icheck" /> Polo Shirts
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <label class="tree-toggler nav-header">
                                            <span class="caret"></span> Legware</label>
                                        <ul class="nav nav-list tree">
                                            <li>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="" class="icheck" /> Chinos
                                                    </label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="" class="icheck" /> Casual Trousers
                                                    </label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="" class="icheck" /> Formal Trousers
                                                    </label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="" class="icheck" /> Jeans
                                                    </label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="" class="icheck" /> Shorts
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <label class="tree-toggler nav-header">
                                    <span class="caret"></span> Footwear</label>
                                <ul class="nav nav-list tree">
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" class="icheck" /> Sneakers
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" class="icheck" /> Boots
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" class="icheck" /> Shoes
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="panel panel-filters">
                <div class="panel-heading">By Size</div>
                <div class="panel-body">
                    <ul class="filter-size">
                        <li><a href="">XS</a>
                        </li>
                        <li><a href="">S</a>
                        </li>
                        <li><a href="">M</a>
                        </li>
                        <li><a href="">L</a>
                        </li>
                        <li><a href="">XL</a>
                        </li>
                        <li><a href="">2XL</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-filters">
                <div class="panel-heading">Price between</div>
                <div class="panel-body">
                    <input type="text" id="price-slider" name="price" value="" />
                </div>
            </div>
            <div class="panel panel-filters">
                <div class="panel-heading">Select color</div>
                <div class="panel-body">
                    <ul class="color-filter">
                        <li>
                            <a href="#" style="background: #ED7188;"></a>
                        </li>
                        <li>
                            <a href="#" style="background: #61D2D6;"></a>
                        </li>
                        <li>
                            <a href="#" style="background: #EDDE45;"></a>
                        </li>
                        <li>
                            <a href="#" style="background: #B8DC3C;"></a>
                        </li>
                        <li>
                            <a href="#" style="background: #CB2402;"></a>
                        </li>
                        <li>
                            <a href="#" style="background: #452000;"></a>
                        </li>
                        <li>
                            <a href="#" style="background: #ED7188;"></a>
                        </li>
                        <li>
                            <a href="#" style="background: #708D91;"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-filters">
                <div class="panel-heading">Material</div>
                <div class="panel-body">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="" checked="checked" class="icheck" /> Spandex
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="" checked="checked" class="icheck" /> Polyester
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="" class="icheck" /> Cotton
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="" class="icheck" /> Viscose
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-10 col-sm-12 col-xs-12 ">
            <!-- start breadcrumbs -->
            <ol class="breadcrumb">
                <li><a href="#">Home</a>
                </li>
                <li><a href="#">Clothing</a>
                </li>
                <li class="active">Dresses</li>
            </ol>
            <!-- end breadcrumbs -->

            <!-- start sort results -->
            <div class="category-header">
                <ul class="nav nav-tabs pull-right nav-sort" role="tablist">
                    <li class="active"><a href="#">HOT</a>
                    </li>
                    <li><a href="#">NEW</a>
                    </li>
                    <li><a href="#">PRICE</a>
                    </li>
                </ul>
                <h1 class="category-title">
                    Clothing
                </h1>
            </div>
            <!-- end sort results -->

            <!-- start pagination -->
            <div class="category-pagination">
                <ul class="pagination pull-right">
                    <li><a href="#">&laquo;</a>
                    </li>
                    <li class="active"><a href="#">1</a>
                    </li>
                    <li><a href="#">2</a>
                    </li>
                    <li><a href="#">3</a>
                    </li>
                    <li><a href="#">4</a>
                    </li>
                    <li><a href="#">5</a>
                    </li>
                    <li><a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
            <!-- end breadcrumbs -->

            <!-- start products -->
            <div class="row">

                <!-- start product item -->
                <div class="col-sm-3">
                    <div class="product-item">
                        <div class="corner corner-green">
                            <div class="corner-text">
                                -30%
                            </div>
                        </div>
                        <div class="photo">
                            <a href="product.html">
                                <img src="/assets/images/290x360.png" class="img-responsive" alt="a" />
                            </a>
                        </div>
                        <h3 class="product-name">
                            <a href="#">Lace tank top short</a>
                        </h3>

                        <div class="info">
                            <div class="price">
                                <span class="value">$199</span>
                                <span class="stock pull-right">in stock</span>
                            </div>
                        </div>

                        <div class="actions">
                            <div class=" clear-left">
                                <a class="btn btn-cart btn-block">
                                    <i class="fa fa-shopping-cart"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end product item -->

                <!-- start product item -->
                <div class="col-sm-3">
                    <div class="product-item">
                        <div class="photo">
                            <a href="product.html">
                                <img src="/assets/images/290x360.png" class="img-responsive" alt="a" />
                            </a>
                        </div>
                        <h3 class="product-name">
                            <a href="#">White-grey blouse</a>
                        </h3>

                        <div class="info">
                            <div class="price">
                                <span class="value">$20</span>
                                <span class="stock pull-right">in stock</span>
                            </div>
                        </div>

                        <div class="actions">
                            <div class=" clear-left">
                                <a class="btn btn-cart btn-block">
                                    <i class="fa fa-shopping-cart"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end product item -->

                <!-- start product item -->
                <div class="col-sm-3">
                    <div class="product-item">
                        <div class="corner corner-red">
                            <div class="corner-text">
                                on sale
                            </div>
                        </div>
                        <div class="photo">
                            <a href="product.html">
                                <img src="/assets/images/290x360.png" class="img-responsive" alt="Diamond Hoop Earrings in 14k" />
                            </a>
                        </div>
                        <h3 class="product-name">
                            <a href="#">Diamond Hoop Earrings in 14k </a>
                        </h3>

                        <div class="info">
                            <div class="price">
                                <span class="value">$400</span>
                                <span class="stock pull-right">in stock</span>
                            </div>
                        </div>

                        <div class="actions">
                            <div class=" clear-left">
                                <a class="btn btn-cart btn-block">
                                    <i class="fa fa-shopping-cart"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end product item -->

                <!-- start product item -->
                <div class="col-sm-3">
                    <div class="product-item">
                        <div class="photo">
                            <a href="product.html">
                                <img src="/assets/images/290x360.png" class="img-responsive" alt="Diamond Hoop Earrings in 14k" />
                            </a>
                        </div>
                        <h3 class="product-name">
                            <a href="#">Green pants</a>
                        </h3>

                        <div class="info">
                            <div class="price">
                                <span class="value">$30</span>
                                <span class="stock pull-right">in stock</span>
                            </div>
                        </div>

                        <div class="actions">
                            <div class=" clear-left">
                                <a class="btn btn-cart btn-block">
                                    <i class="fa fa-shopping-cart"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end product item -->

                <!-- start product item -->
                <div class="col-sm-3">
                    <div class="product-item">
                        <div class="photo">
                            <a href="product.html">
                                <img src="/assets/images/290x360.png" class="img-responsive" alt="Diamond Hoop Earrings in 14k" />
                            </a>
                        </div>
                        <h3 class="product-name">
                            <a href="#">A Nice Black Dress </a>
                        </h3>

                        <div class="info">
                            <div class="price">
                                <span class="value">$65</span>
                                <span class="stock pull-right">in stock</span>
                            </div>
                        </div>

                        <div class="actions">
                            <div class=" clear-left">
                                <a class="btn btn-cart btn-block">
                                    <i class="fa fa-shopping-cart"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end product item -->

                <!-- start product item -->
                <div class="col-sm-3">
                    <div class="product-item">
                        <div class="corner corner-green">
                            <div class="corner-text">
                                -10%
                            </div>
                        </div>
                        <div class="photo">
                            <a href="product.html">
                                <img src="/assets/images/290x360.png" class="img-responsive" alt="Diamond Hoop Earrings in 14k" />
                            </a>
                        </div>
                        <h3 class="product-name">
                            <a href="#">White jacket </a>
                        </h3>

                        <div class="info">
                            <div class="price">
                                <span class="value">$125</span>
                                <span class="stock pull-right">in stock</span>
                            </div>
                        </div>

                        <div class="actions">
                            <div class=" clear-left">
                                <a class="btn btn-cart btn-block">
                                    <i class="fa fa-shopping-cart"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end product item -->

                <!-- start product item -->
                <div class="col-sm-3">
                    <div class="product-item">
                        <div class="photo">
                            <a href="product.html">
                                <img src="/assets/images/290x360.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <h3 class="product-name">
                            <a href="#">Grey coat </a>
                        </h3>

                        <div class="info">
                            <div class="price">
                                <span class="value">$110</span>
                                <span class="stock pull-right">in stock</span>
                            </div>
                        </div>

                        <div class="actions">
                            <div class=" clear-left">
                                <a class="btn btn-cart btn-block">
                                    <i class="fa fa-shopping-cart"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end product item -->

                <!-- start product item -->
                <div class="col-sm-3">
                    <div class="product-item">
                        <div class="photo">
                            <a href="product.html">
                                <img src="/assets/images/290x360.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <h3 class="product-name">
                            <a href="#">Blue jeans </a>
                        </h3>

                        <div class="info">
                            <div class="price">
                                <span class="value">$30</span>
                                <span class="stock pull-right">in stock</span>
                            </div>
                        </div>

                        <div class="actions">
                            <div class=" clear-left">
                                <a class="btn btn-cart btn-block">
                                    <i class="fa fa-shopping-cart"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end product item -->

                <!-- start product item -->
                <div class="col-sm-3">
                    <div class="product-item">
                        <div class="corner corner-black">
                            <div class="corner-text">
                                come on
                            </div>
                        </div>
                        <div class="photo">
                            <a href="product.html">
                                <img src="/assets/images/290x360.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <h3 class="product-name">
                            <a href="#">Grey Jacket</a>
                        </h3>

                        <div class="info">
                            <div class="price">
                                <span class="value">$27</span>
                                <span class="stock pull-right">in stock</span>
                            </div>
                        </div>

                        <div class="actions">
                            <div class=" clear-left">
                                <a class="btn btn-cart btn-block">
                                    <i class="fa fa-shopping-cart"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end product item -->

                <!-- start product item -->
                <div class="col-sm-3">
                    <div class="product-item">
                        <div class="photo">
                            <a href="product.html">
                                <img src="/assets/images/290x360.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <h3 class="product-name">
                            <a href="#">Blue Dress </a>
                        </h3>

                        <div class="info">
                            <div class="price">
                                <span class="value">$15</span>
                                <span class="stock pull-right">in stock</span>
                            </div>
                        </div>

                        <div class="actions">
                            <div class=" clear-left">
                                <a class="btn btn-cart btn-block">
                                    <i class="fa fa-shopping-cart"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end product item -->

                <!-- start product item -->
                <div class="col-sm-3">
                    <div class="product-item">
                        <div class="photo">
                            <a href="product.html">
                                <img src="/assets/images/290x360.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <h3 class="product-name">
                            <a href="#">Nice Pants </a>
                        </h3>

                        <div class="info">
                            <div class="price">
                                <span class="value">$60</span>
                                <span class="stock pull-right">in stock</span>
                            </div>
                        </div>

                        <div class="actions">
                            <div class=" clear-left">
                                <a class="btn btn-cart btn-block">
                                    <i class="fa fa-shopping-cart"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end product item -->

                <!-- start product item -->
                <div class="col-sm-3">
                    <div class="product-item">
                        <div class="photo">
                            <a href="product.html">
                                <img src="/assets/images/290x360.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <h3 class="product-name">
                            <a href="#">Excelent Dress</a>
                        </h3>

                        <div class="info">
                            <div class="price">
                                <span class="value">$50</span>
                                <span class="stock pull-right">in stock</span>
                            </div>
                        </div>

                        <div class="actions">
                            <div class=" clear-left">
                                <a class="btn btn-cart btn-block">
                                    <i class="fa fa-shopping-cart"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end product item -->

                <!-- start product item -->
                <div class="col-sm-3">
                    <div class="product-item">
                        <div class="photo">
                            <a href="product.html">
                                <img src="/assets/images/290x360.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <h3 class="product-name">
                            <a href="#">Some Great Thing</a>
                        </h3>

                        <div class="info">
                            <div class="price">
                                <span class="value">$80</span>
                                <span class="stock pull-right">in stock</span>
                            </div>
                        </div>

                        <div class="actions">
                            <div class=" clear-left">
                                <a class="btn btn-cart btn-block">
                                    <i class="fa fa-shopping-cart"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end product item -->

                <!-- start product item -->
                <div class="col-sm-3">
                    <div class="product-item">
                        <div class="photo">
                            <a href="product.html">
                                <img src="/assets/images/290x360.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <h3 class="product-name">
                            <a href="#">Some Green Dress</a>
                        </h3>

                        <div class="info">
                            <div class="price">
                                <span class="value">$125</span>
                            </div>
                        </div>

                        <div class="actions">
                            <div class=" clear-left">
                                <a class="btn btn-cart btn-block">
                                    <i class="fa fa-shopping-cart"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end product item -->

                <!-- start product item -->
                <div class="col-sm-3">
                    <div class="product-item">
                        <div class="photo">
                            <a href="product.html">
                                <img src="/assets/images/290x360.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <h3 class="product-name">
                            <a href="#">Black Trousers</a>
                        </h3>

                        <div class="info">
                            <div class="price">
                                <span class="value">$41</span>
                            </div>
                        </div>

                        <div class="actions">
                            <div class=" clear-left">
                                <a class="btn btn-cart btn-block">
                                    <i class="fa fa-shopping-cart"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end product item -->

                <!-- start product item -->
                <div class="col-sm-3">
                    <div class="product-item">
                        <div class="photo">
                            <a href="product.html">
                                <img src="/assets/images/290x360.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <h3 class="product-name">
                            <a href="#">Cheap Dress</a>
                        </h3>

                        <div class="info">
                            <div class="price">
                                <span class="value">$55</span>
                            </div>
                        </div>

                        <div class="actions">
                            <div class=" clear-left">
                                <a class="btn btn-cart btn-block">
                                    <i class="fa fa-shopping-cart"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end product item -->

            </div>
            <!-- end products -->

            <div class="category-pagination">
                <ul class="pagination pull-right">
                    <li><a href="#">&laquo;</a>
                    </li>
                    <li class="active"><a href="#">1</a>
                    </li>
                    <li><a href="#">2</a>
                    </li>
                    <li><a href="#">3</a>
                    </li>
                    <li><a href="#">4</a>
                    </li>
                    <li><a href="#">5</a>
                    </li>
                    <li><a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>




<!--/*
<div layout:fragment="content" class="container">
    <p th:if="!${#lists.isEmpty(products)}" th:text="'Here are products:'"></p>
    <ul th:if="!${#lists.isEmpty(products)}">
        <li th:each="product : ${products}">
            <h2 th:text="${product.title}"></h2>
            <a href="#"
               th:href="@{/} + ${@environment.getProperty('web.mapping.products')} + @{/} + ${product.url}">link</a>
        </li>
    </ul>
</div>
*/-->
</body>
</html>