<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Slider</title>
</head>
<body>
<div th:fragment="slider(parameters)">
    <div id="slider1_container"
         style="position: relative; margin: 0; top: 0; left: 0; width: 1140px; height: 500px; overflow: hidden; margin-bottom: 20px;"
         class="hidden-xs">
        <!--/* Loading Screen */-->
        <!--/*
        <div data-u="loading" style="position: absolute; top: 0; left: 0;">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block;
                        top: 0; left: 0; width: 100%; height: 100%;">
            </div>
            <div style="position: absolute; display: block; background: url(/packages/jssor/img/loading.gif) no-repeat center center;
                        top: 0; left: 0; width: 100%; height: 100%;">
            </div>
        </div>
        */-->
        <!--/* Slides Container */-->
        <div data-u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1300px;
                      height: 500px; overflow: hidden;">
            <div>
                <img data-u="image" src="/media/sample/1.jpg" alt="slide 1"/>

                <div style="position: absolute; width: 480px; height: 160px; top: 45%; left: 25%; padding: 5px;
                          line-height: 75px; text-transform: uppercase; font-size: 50px;
                          color: #FFFFFF; background: rgba(0,0,0,0.7); padding-left: 20px; text-align: center; ">
                    Awesome bikes
                </div>
                <div style="position: absolute; width: 480px; height: 120px; bottom: 0; left: 25%;
                          text-align: left; line-height: 36px; font-size: 30px;
                          color: #FFFFFF;">
                    <a href="products.html" class="btn btn-primary btn-block">View</a>
                </div>
            </div>
            <div>
                <img data-u="image" src="/media/sample/2.jpg" alt="slide 2"/>

                <div style="position: absolute; width: 480px; height: 160px; top: 130px; left: 25%; padding: 5px;
                          line-height: 75px; text-transform: uppercase; font-size: 50px;
                          color: #FFFFFF; background: rgba(0,0,0,0.7); padding-left: 20px; text-align: center;">
                    Cycling clothing
                </div>
                <div style="position: absolute; width: 480px; height: 120px; bottom: 15%; left: 25%;
                          text-align: left; line-height: 36px; font-size: 30px; color: #FFFFFF;">
                    <a href="products.html" class="btn btn-primary btn-block">View</a>
                </div>
            </div>
            <div>
                <img data-u="image" src="/media/sample/3.jpg" alt="slide 3"/>

                <div style="position: absolute; width: 680px; height: 120px; top: 30px; left: 30px; padding: 5px;
                          text-align: left; line-height: 60px; text-transform: uppercase; font-size: 50px;
                          color: #FFFFFF;">
                    Wheels
                </div>
                <div style="position: absolute; width: 680px; height: 120px; top: 100px; left: 30px; padding: 5px;
                          text-align: left; line-height: 36px; font-size: 30px;
                          color: #FFFFFF;">
                    and all other components
                </div>
            </div>
        </div>
        <!--/* Bullet Navigator Skin Begin */-->
        <!--/* bullet navigator container */-->
        <div data-u="navigator" class="jssorb21" style="position: absolute; bottom: 26px; left: 6px;">
            <!--/* bullet navigator item prototype */-->
            <div data-u="prototype"
                 style="POSITION: absolute; WIDTH: 19px; HEIGHT: 19px; text-align:center; line-height:19px; color:White; font-size:12px;"></div>
        </div>
        <!--/* Bullet Navigator Skin End */-->
        <!--/* Arrow Navigator Skin Begin */-->
        <!--/* Arrow Left */-->
        <span data-u="arrowleft" class="jssora21l" style="width: 55px; height: 55px; top: 123px; left: 8px;"> </span>
        <!--/* Arrow Right */-->
        <span data-u="arrowright" class="jssora21r" style="width: 55px; height: 55px; top: 123px; right: 8px"></span>
        <!--/* Arrow Navigator Skin End */-->
    </div>
</div>
</body>
</html>